.VotingButton {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto 1rem;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.5;
}

.VotingButton:hover {
    opacity: 1;
}

.VotingButton__Like {
    background-image: url(../thumb_up.svg);
}

.VotingButton__Dislike {
    background-image: url(../thumb_down.svg);
}